body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    
}

.header {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    padding: 10px 200px 10px 200px;
}

.header-logo {
    display: flex;
    color: #F9FAF8;
    font-weight: 700;
    font-size: 18px;
}

.header-list {
    display: flex;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 30px;
}

a {
    text-decoration: none;
    color: rgb(230, 224, 224);
    font-size: 14px;
}

.section-one {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    padding: 100px 200px 100px 200px;
    gap: 30px;
}

.left-section-one {
    display: flex;
    flex-direction: column;
}

.right-section-one {
    display: flex;
    flex-direction: column;
}

.right-section-one img {
    height: 200px;
    width: 400px;
}

.sign-up-button,
.sign-up-button-two {
    width: 100px;
    height: 30px;
    color: white;
    background-color: #3882F6;
    border-radius: 8px;
    margin-top: 10px;
    font-weight: 700;
}

.sign-up-button {
    border: none;
}

.sign-up-button-two {
    border: 2px solid white;
}

.hero-main-text {
    color: #F9FAF8;
    font-size: 48px;
    max-width: 400px;
    font-weight: 900;

}

.hero-subtext {
    color: rgb(230, 224, 224);
    max-width: 400px;
    font-size: 18px;
}

.section-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.section-two-text {
    color: #1F2937;
    font-weight: 900;
    font-size: 36px;
    padding: 50px 0px 50px 0px;
}

.pictures-and-text {
    display: flex;
    gap: 60px;
}

.first-img-and-txt,
.second-img-and-txt,
.third-img-and-txt,
.fourth-img-and-txt {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.small-img {
    border: 4px solid #3882F6;
    border-radius: 8px;
}


.section-two-subtext {
    width: 150px;
    text-align: center;
}

.section-three {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    color: #1F2937;
    font-weight: 300;
    align-items: center;
    padding: 101px 0px 80px 0px;
}

.quote {
    display: flex;
    font-size: 36px;
    max-width: 770px;
    font-style: italic;
}

.quoter {
    display: flex;
    font-size: 18px;
    color: black;
    font-weight: bold;
    width: 770px;
    justify-content: flex-end;
    padding-right: 50px;
}

.section-four {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.blue-banner {
    display: flex;
    background-color: #3882F6;
    padding: 30px 80px 30px 80px;
    border-radius: 8px;
    gap: 120px;
}

.left-section-four {
    display: flex;
    flex-direction: column;
}

.right-section-four {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lft-sec-frst-txt {
    font-size: 20px;
    color: white;
    font-weight: 600;
}

.lft-sec-sec-txt {
    color: rgb(230, 224, 224);
}
